@import 'https://fonts.googleapis.com/css?family=Kristi|Meddon|Pinyon+Script|Tangerine';
h1 {
  color: #c0c0c0;
  text-align: center;
  background-color: #e6c300;
  font-family: 'Pinyon Script', cursive;
  font-size: 40px;
}
p{
  color: #ff0000;
  text-align: center;
  background-color: #1a1a1a;
  border: 300px #e60000;
padding: 50px;
width: 1125px;
font-family: 'Tangerine', cursive;
font-size: 29px;
}
h2{
 color: #c0c0c0;
 text-align: center;
 background-color: #4d4d4d;
 font-family: 'Meddon', cursive;
 font-size: 20px;
}
img{
  display: block;
   margin-left: auto;
   margin-right: auto;

}
h3{
  color:#800000;
  text-align: center;
  background-color: #000000;
  font-family: 'Kristi', cursive;
  font-size: 40px;
}
